:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  margin: auto;
  position: relative;
}

#main-game-canvas {
  display: block;
  height: 100%;
  width: 100%;
}

#game-state {
  position: absolute;
  right: 100px;
  z-index: 999;
  width: 275px;
  background-color: rgba(0, 0, 0, 0.7);
}

#main-game-fps {
  position: absolute;
  margin: 0;
  top: 1.25vw;
  right: 1.25vw;
  z-index: 999;
  color: gold;
  font-size: 40px;
  font-family: 'Inter';
  font-weight: 600;
  -webkit-text-stroke: 1px black;
}
